<section class="login p-fixed d-flex text-center bg-primary common-img-bg">
  <!-- Container-fluid starts -->
  <div class="container-fluid m-t-0">
    <div class="row">
      <div class="col-sm-12">
        <!-- Authentication card start -->
        <div class="login-card card-block auth-body mr-auto ml-auto">
          <form class="md-float-material">
            <div class="text-center">
              <img src="assets/images/fo-logo.png" alt="Freshorders">
            </div>
            <div class="auth-box">
              <div class="row m-b-20">
                <div class="col-md-12">
                  <h3 class="text-left">Recover your password</h3>
                </div>
              </div>

              <div class="input-group">
                <input class="form-control" placeholder="Mobile Number">
                <span class="md-line"></span>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <button type="button" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">Submit</button>
                </div>
              </div>

              <p class="text-inverse text-right">Back to <a [routerLink]="['/auth/login']">Login.</a></p>


            </div>
          </form>
          <!-- end of form -->
        </div>
        <!-- Authentication card end -->
      </div>
      <!-- end of col-sm-12 -->
    </div>
    <!-- end of row -->
  </div>
  <!-- end of container-fluid -->
</section>