<div class="header-title">
  <div class="row">
    <div class="col-md-6 col-sm-6">
      <h2>Sequence Settings</h2>
      <p>Setup your organization's transaction number sequencially.</p>
    </div>
    <div class="col-md-6 col-sm-6 p-r-30">
      <div class="text-right m-t-5">
        <label>Search:
          <input type="search" [(ngModel)]="filterQuery" class="form-control input-sm full-data-search" placeholder="">
        </label>
      </div>
    </div>
  </div>
</div>
<div class="card table-header">
  <div class="card-body">
    <div class="table-content crm-table">
      <div class="project-table">
        <div class="dt-responsive">
          <!-- <div class="panel-heading">User information</div>-->
          <div class="table-responsive">
            <table class="table table-striped table-bordered full-data-table" [mfData]="data| dataFilter : filterQuery"
              #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
              <thead>
                <tr>
                  <th>
                    <mfDefaultSorter by="description">Description</mfDefaultSorter>
                  </th>
                  <th>
                    <mfDefaultSorter by="prefixkey">Prefix Key</mfDefaultSorter>
                  </th>
                  <th>
                    <mfDefaultSorter by="prefixconcatenate">Prefix Concatenate</mfDefaultSorter>
                  </th>
                  <th>
                    <mfDefaultSorter by="suffixkey">Suffix Key</mfDefaultSorter>
                  </th>
                  <th>
                    <mfDefaultSorter by="suffixconcatenate">Suffix Concatenate</mfDefaultSorter>
                  </th>
                  <th>
                    <mfDefaultSorter by="updatedby">Updated By</mfDefaultSorter>
                  </th>
                  <th class="text-center">Auto Generate</th>
                  <th class="text-center">Actions</th>
                </tr>
              </thead>

              <tbody>
                <tr *ngFor="let item of mf.data;let i = index;">
                  <td>{{item.description}}</td>
                  <td>{{item.prefixkey}}</td>
                  <td>{{item.prefixconcatenate}}</td>
                  <td>{{item.suffixkey}}</td>
                  <td>{{item.suffixconcatenate}}</td>
                  <td>
                    <span class="updatename">{{item.lastupdatedby}}</span>
                    <span class="updatedate">{{item.lastupdateddt}}</span>
                  </td>
                  <td class="text-center">
                    <ui-switch class="js-small" placement="top" ngbTooltip="Click to change the status" color="#03ADED"
                      switchColor="#fff" size="small" checked></ui-switch>
                  </td>
                  <td class="action-icon text-center">
                    <a href="javascript:;" placement="top" ngbTooltip="click to edit sequence" (click)="openMyModal('effect-7')"
                      class="m-r-15 crm-action-edit text-primary"><i class="fa fa-pencil"></i></a>
                  </td>
                </tr>
              </tbody>
              <tfoot>
                <tr class="page-nav">
                  <td colspan="12">
                    <mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator>
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-edit-sequence-settings></app-edit-sequence-settings>