<div class="modal-size">
  <app-modal-animation [modalID]="'effect-7'" [modalClass]="'md-effect-7'">
    <h3 class="f-26">Add Industry</h3>
    <div class="form-header">
      <div class="row ">
        <div class="col-md-12">
          <div class="form-group required">
            <label>Industry Name</label>
            <input type="text" class="form-control" placeholder="">
          </div>
          <div class="form-group">
            <label>Status <small>*</small></label>
            <div class="form-radio">
              <form>
                <div class="radio radio-inline">
                  <label>
                    <input type="radio" name="radio" checked="checked">
                    <i class="helper"></i>Active
                  </label>
                </div>
                <div class="radio radio-inline">
                  <label>
                    <input type="radio" name="radio">
                    <i class="helper"></i>Inactive
                  </label>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <button type="button" placement="top" ngbTooltip="Click to save industry" class="btn pull-right btn-primary waves-effect m-b-10">Save</button>
    </div>
    <button (click)="closeMyModal($event)" aria-label="Close" class="md-close-btn"><i class="fa fa-close"></i></button>

  </app-modal-animation>
</div>