<div class="header-title">
  <div class="row">
    <div class="col-md-5 col-sm-6">
      <h2>Tenants</h2>
      <p>Define Your Organisation's Tenant Details </p>
    </div>
    <div class="col-md-5 col-sm-6">
      <div class="text-right m-t-5">
        <label>Search:
          <input type="search" [(ngModel)]="filterQuery" class="form-control input-sm full-data-search" placeholder="">
        </label>
      </div>
    </div>
    <div class="col-md-2 col-sm-6 text-right p-l-0 p-r-30">
      <!-- <button type="button" placement="top" ngbTooltip="import" class="btn btn-primary import-btn waves-effect m-r-5"><i
          class="fa fa-cloud-upload"></i></button> -->
      <button type="button" placement="top" ngbTooltip="Export" class="btn btn-primary export-btn waves-effect m-r-5"><i
          class="fa fa-cloud-download"></i></button>
      <button type="button" placement="top" ngbTooltip="Click to add tenant" class="btn btn-primary waves-effect waves-light d-inline-block md-trigger"
        routerLink="create">
        <i class="fa fa-plus-circle m-r-5"></i> New
      </button>
    </div>
  </div>
</div>

<div class="card table-header">
  <div class="card-body">
    <div class="table-content crm-table">
      <div class="project-table">
        <div class="dt-responsive">
          <div class="table-responsive">
            <table class="table table-striped table-bordered full-data-table" [mfData]="data | dataFilter : filterQuery"
              #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
              <thead>
                <tr>
                  <th>
                    <mfDefaultSorter by="tenantname">Tenant Name</mfDefaultSorter>
                  </th>
                  <th>
                    <mfDefaultSorter by="emailid">Email ID</mfDefaultSorter>
                  </th>
                  <th>
                    <mfDefaultSorter by="mobileno">Mobile No</mfDefaultSorter>
                  </th>
                  <th>
                    <mfDefaultSorter by="taxno">Tax No</mfDefaultSorter>
                  </th>
                  <th>
                    <mfDefaultSorter by="updatedby">Updated by</mfDefaultSorter>
                  </th>
                  <th class="text-center">Status</th>
                  <th class="text-center">Action</th>
                </tr>
              </thead>

              <tbody>
                <tr *ngFor="let tdata of mf.data;let i = index;">
                  <td>{{tdata.tenantname}}</td>
                  <td>{{tdata.emailid}}</td>
                  <td>{{tdata.mobileno}}</td>
                  <td>{{tdata.taxno}}</td>
                  <td>
                    <span>{{tdata.lastupdatedby}}</span><br />
                    <span>{{tdata.lastupdateddt}}</span>
                  </td>
                  <td class="text-center">
                    <ui-switch class="js-small" placement="top" ngbTooltip="Click to change the status" color="#03ADED"
                      switchColor="#fff" size="small" checked></ui-switch>
                  </td>
                  <td class="action-icon text-center">
                    <a href="javascript:;" class="m-r-15 crm-action-view text-info" placement="top" ngbTooltip="click to view the tenant"
                      (click)="openMyModalData(i);modalDefault.show();"><i class="fa fa-book"></i></a>
                    <a href="javascript:;" placement="top" ngbTooltip="click to edit the tenant" class="m-r-15 crm-action-edit text-primary"><i
                        class="fa fa-pencil"></i></a>
                    <a href="javascript:;" placement="bottom" ngbTooltip="click to delete the tenant" class="crm-action-delete text-danger"><i
                        class="fa fa-trash"></i></a>
                  </td>
                </tr>
              </tbody>
              <tfoot>
                <tr class="page-nav">
                  <td colspan="12">
                    <mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator>
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>