<div class="header-title">
  <div class="row">
    <div class="col-md-6 col-sm-6">
      <h2>Product Setup</h2>
      <p>Define Your Organisation's product Setup-UOM,Brand,category</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12 col-sm-12 product-setup">
    <app-card [blockClass]="'accordion-block'" [cardOptionBlock]="true">
      <ngb-accordion [closeOthers]="true" #acc="ngbAccordion" activeIds="uom" class="ngb-accordion color-accordion">
        <ngb-panel id="uom" title="Unit of Measurement">
          <ng-template ngbPanelContent>
            <app-uom></app-uom>
          </ng-template>
        </ngb-panel>
        <ngb-panel id="brand" title="Brand">
          <ng-template ngbPanelContent>
            <app-brand></app-brand>
          </ng-template>
        </ngb-panel>
        <ngb-panel id="category" title="Category">
          <ng-template ngbPanelContent>
            <app-category></app-category>
          </ng-template>
        </ngb-panel>
      </ngb-accordion>
    </app-card>
  </div>
</div>