.accordion-header{
    .table-responsive {
         button{
          margin-bottom:10px;
        }
    }
}
.button-icon{
    .btn {
    i{
    margin-right:0px;
        }
    }
}

   .edit-button{
       a{
        top:9px;
        position:absolute;
        margin-left:80px;
        color:#fff !important;
        font-size:15px;
        }
    }

.business-input{
    input{
    background-image: -webkit-gradient(linear, left top, left bottom, from(#20aee3), to(#20aee3)), -webkit-gradient(linear, left top, left bottom, from(#b1b8bb), to(#b1b8bb));
    background-image: -webkit-linear-gradient(#20aee3, #20aee3), -webkit-linear-gradient(#b1b8bb, #b1b8bb);
    background-image: -o-linear-gradient(#20aee3, #20aee3), -o-linear-gradient(#b1b8bb, #b1b8bb);
    background-image: linear-gradient(#20aee3, #20aee3), linear-gradient(#b1b8bb, #b1b8bb);
    background-size: 0 2px, 100% 1px;
    background-repeat: no-repeat;
    background-position: center bottom, center calc(100% - 1px);
    background-color: transparent;
    -webkit-transition: background 0s ease-out;
    -o-transition: background 0s ease-out;
    transition: background 0s ease-out;
    float: none;
    box-shadow: none;
    border-radius: 0;
    margin-left: 0px;
    border: 0;
    &:focus{
        outline: none;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#20aee3), to(#20aee3)), -webkit-gradient(linear, left top, left bottom, from(#b1b8bb), to(#b1b8bb));
        background-image: -webkit-linear-gradient(#20aee3, #20aee3), -webkit-linear-gradient(#b1b8bb, #b1b8bb);
        background-image: -o-linear-gradient(#20aee3, #20aee3), -o-linear-gradient(#b1b8bb, #b1b8bb);
        background-image: linear-gradient(#20aee3, #20aee3), linear-gradient(#b1b8bb, #b1b8bb);
        background-size: 100% 2px, 100% 1px;
        -webkit-box-shadow: none;
        box-shadow: none;
        -webkit-transition-duration: 0.3s;
        -o-transition-duration: 0.3s;
        transition-duration: 0.3s;
         }
    }
    .button-align{
        .btn{
            padding:6px 19px;
            margin-left:-41px;
        }
    }
        .role-input {
            input{
                margin-top: 12px
            }
            label{
            font-size:18px;
        }
    }
        .role-input{ 
            b{
            padding-left:5px;
        }
    }
        
}
.region-input {
    .region-row{
            .region-column{
                top: -48px;
                position: relative;
                margin-left: 120px;
                }
            }
            input{
         &:focus{
             background-color:#fff;
         }
    }
}

 .region-column{
    ::placeholder{
         color:#fff;
         }
        input:focus::placeholder{
            color:#97A1A7 ;
        }
    }
   .accordion-header{
       .card{
             .card-header{
                span{
                   font-size:0px;
               }
           }
       }
   } 