<div class="header-title">
  <div class="row">
    <div class="col-md-6 col-sm-6">
      <h2>Location</h2>
      <p>Define Your Organisation's Location</p>
    </div>
  </div>
</div>
<div class="accordion-header product-setup">
  <div class="row">
    <div class="col-md-12">
      <app-card [blockClass]="'accordion-block'" [cardOptionBlock]="true">
        <div class="accordion-table">
          <ngb-accordion #acc="ngbAccordion" activeIds="ngb-color-p1" class="ngb-accordion color-accordion">
            <ngb-panel id="ngb-color-p1" title="State">
              <ng-template ngbPanelContent>
                <div class="add-button">
                  <button type="button" class="pull-right btn btn-primary btn-outline-primary btn-icon" placement="bottom"
                    ngbTooltip="Click to add state" (click)="openMyModal('statemodal')"><i class="fa fa-plus"></i></button>
                </div>
                <div class="card table-header">
                  <div class="dt-responsive">
                    <div class="table-responsive">
                      <table class="table table-striped table-bordered full-data-table" [mfData]="data| dataFilter : filterQuery"
                        #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                        <thead>
                          <tr>
                            <th>
                              <mfDefaultSorter by="statename">State Name</mfDefaultSorter>
                            </th>
                            <th>
                              <mfDefaultSorter by="updatedby">Updated By</mfDefaultSorter>
                            </th>
                            <th class="text-center">Status</th>
                            <th class="text-center">Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let item of mf.data">
                            <td>{{item.statename}}</td>
                            <td>
                              <span class="updatename">{{item.lastupdatedby}}</span>
                              <span class="updatedate">{{item.lastupdateddt}}</span>
                            </td>
                            <td class="text-center">
                              <ui-switch class="js-small" placement="top" ngbTooltip="Click to change the status" color="#03ADED"
                                switchColor="#fff" size="small" checked></ui-switch>
                            </td>
                            <td class="action-icon text-center">
                              <a href="javascript:;" placement="top" ngbTooltip="Click to edit the state " class="m-r-15 crm-action-edit text-primary"><i
                                  class="fa fa-pencil"></i></a>
                              <a href="javascript:;" placement="bottom" ngbTooltip="Click to delete the state " class="crm-action-delete text-danger"><i
                                  class="fa fa-trash"></i></a>
                            </td>
                          </tr>
                        </tbody>
                        <tfoot>
                          <tr class="page-nav">
                            <td colspan="12">
                              <mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator>
                            </td>
                          </tr>
                        </tfoot>
                      </table>
                    </div>

                  </div>
                </div>

              </ng-template>
            </ngb-panel>
            <ngb-panel id="ngb-color-p2" title="City">
              <ng-template ngbPanelContent>
                <div class="add-button">
                  <button type="button" class=" pull-right btn btn-primary btn-outline-primary btn-icon" placement="bottom"
                    ngbTooltip="Click to add city" (click)="openMyModal('citymodal')"><i class="fa fa-plus"></i></button>
                </div>
                <div class="card table-header">
                  <div class="dt-responsive">
                    <div class="table-responsive">
                      <table class="table table-striped table-bordered full-data-table" [mfData]="firstArray| dataFilter : filterQuery"
                        #first="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                        <thead>
                          <tr>
                            <th>
                              <mfDefaultSorter by="cityname">City Name</mfDefaultSorter>
                            </th>
                            <th>
                              <mfDefaultSorter by="updatedby">Updated By</mfDefaultSorter>
                            </th>
                            <th class="text-center">Status</th>
                            <th class="text-center">Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let item of first.data">
                            <td>{{item.cityname}}</td>
                            <td>
                              <span class="updatename">{{item.lastupdatedby}}</span>
                              <span class="updatedate">{{item.lastupdateddt}}</span>
                            </td>
                            <td class="text-center">
                              <ui-switch class="js-small" placement="top" ngbTooltip="Click to change the status" color="#03ADED"
                                switchColor="#fff" size="small" checked></ui-switch>
                            </td>
                            <td class="action-icon text-center">
                              <a href="javascript:;" placement="top" ngbTooltip="Click to edit the city " class="m-r-15 crm-action-edit text-primary"><i
                                  class="fa fa-pencil"></i></a>
                              <a href="javascript:;" placement="bottom" ngbTooltip="Click to delete the city " class="crm-action-delete text-danger"><i
                                  class="fa fa-trash"></i></a>
                            </td>
                          </tr>
                        </tbody>
                        <tfoot>
                          <tr class="page-nav">
                            <td colspan="12">
                              <mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator>
                            </td>
                          </tr>
                        </tfoot>
                      </table>
                    </div>
                  </div>
                </div>
              </ng-template>
            </ngb-panel>
          </ngb-accordion>
        </div>
      </app-card>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="business-input">
      <div class="form-group role-input p-l-5 ">
        <label class="p-r-0 col-form-label p-l-5"><b>Business Area</b></label>
        <div class="row">

          <div class="col-sm-4">
            <div class="p-l-5 p-r-0">
              <input type="text" class="p-l-5 m-t-5 form-control input-sm full-data-search m-b-5" placeholder=" Define your own business area">
            </div>
          </div>
          <div class="col-sm-4 button-align">
            <button type="button" placement="top" ngbTooltip="Click to add business area" class="btn btn-primary waves-effect m-r-10 text-capitalize"
              (click)="showDetails=true">Add</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="showDetails">
  <div class="accordion-header product-setup">
    <div class="row">
      <div class="col-md-12">
        <app-card [blockClass]="'accordion-block'" [cardOptionBlock]="true">
          <ngb-accordion #acc="ngbAccordion" activeIds="ngb-color-p1" class="ngb-accordion color-accordion">
            <ngb-panel id="ngb-color-p3">
              <ng-template ngbPanelTitle>
                <div class="header-title region-section">
                  <span *ngIf="showRegion==false" class="col-md-1 p-l-0 p-r-0">Region</span>
                  <a *ngIf="showRegion==false" placement="top" style="padding:0 !important;" ngbTooltip="Click to edit the region"
                    class="col-md-1 crm-action-edit text-center fa fa-pencil" (click)="showRegion=true">
                  </a>
                  <input *ngIf="showRegion==true" type="text" class="col-md-6 col-sm-6 form-control input-sm full-data-search"
                    placeholder="Region">
                  <a *ngIf="showRegion==true" placement="top" style="padding:0 !important" ngbTooltip="Click to close the region"
                    class="m-l-15 col-md-1 crm-action-edit text-left fa fa-close" (click)="showRegion=false">
                  </a>
                </div>
              </ng-template>

              <ng-template ngbPanelContent>

                <div class="add-button region-button">
                  <button type="button" class=" pull-right btn btn-primary btn-outline-primary btn-icon" placement="bottom"
                    ngbTooltip="Click to add region" (click)="openMyModal('regionmodal')"><i class="fa fa-plus"></i></button>
                </div>
                <div class="card table-header">
                  <div class="dt-responsive">
                    <div class="table-responsive">
                      <table class="table table-striped table-bordered full-data-table" [mfData]="secondArray| dataFilter : filterQuery"
                        #second="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                        <thead>
                          <tr>
                            <th>
                              <mfDefaultSorter by="regionname">Region Name</mfDefaultSorter>
                            </th>
                            <th>
                              <mfDefaultSorter by="updatedby">Updated By</mfDefaultSorter>
                            </th>
                            <th class="text-center">Status</th>
                            <th class="text-center">Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let item of second.data">
                            <td>{{item.regionname}}</td>
                            <td>
                              <span class="updatename">{{item.lastupdatedby}}</span>
                              <span class="updatedate">{{item.lastupdateddt}}</span>
                            </td>
                            <td class="text-center">
                              <ui-switch class="js-small" placement="top" ngbTooltip="Click to change the status" color="#03ADED"
                                switchColor="#fff" size="small" checked></ui-switch>
                            </td>
                            <td class="action-icon text-center">
                              <a href="javascript:;" placement="top" ngbTooltip="Click to edit the  region " class="m-r-15 crm-action-edit text-primary edit-icon"><i
                                  class="fa fa-pencil"></i></a>
                              <a href="javascript:;" placement="bottom" ngbTooltip="Click to delete the region " class="crm-action-delete text-danger"><i
                                  class="fa fa-trash"></i></a>
                            </td>
                          </tr>
                        </tbody>
                        <tfoot>
                          <tr class="page-nav">
                            <td colspan="12">
                              <mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator>
                            </td>
                          </tr>
                        </tfoot>
                      </table>
                    </div>
                  </div>
                </div>
              </ng-template>
            </ngb-panel>
          </ngb-accordion>
        </app-card>
      </div>
    </div>
  </div>
</div>

<div class="modal-size">
  <app-modal-animation [modalID]="'statemodal'" [modalClass]="'md-effect-7'">
    <h3 class="f-26">Add State</h3>
    <div class="form-header">
      <div class="row ">
        <div class="col-md-12">
          <div class="form-group required">
            <label>State Name</label>
            <input type="text" class="form-control" placeholder="">
          </div>
          <div class="form-group ">
            <label>Status <small>*</small></label>
            <div class="form-radio">
              <form>
                <div class="radio radio-inline">
                  <label>
                    <input type="radio" name="radio" checked="checked">
                    <i class="helper"></i>Active
                  </label>
                </div>
                <div class="radio radio-inline">
                  <label>
                    <input type="radio" name="radio">
                    <i class="helper"></i>Inactive
                  </label>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <button type="button" placement="top" ngbTooltip="Click to save state " class="btn pull-right btn-primary waves-effect m-b-10">Save</button>
    </div>
    <button (click)="closeMyModal($event)" aria-label="Close" class="md-close-btn"><i class="fa fa-close"></i></button>

  </app-modal-animation>
</div>
<div class="modal-size">
  <app-modal-animation [modalID]="'citymodal'" [modalClass]="'md-effect-7'">
    <h3 class="f-26">Add City</h3>
    <div class="form-header">
      <div class="row ">
        <div class="col-md-12">
          <div class="form-group required">
            <label class="">State Name</label>
            <select name="select" class="form-control">
              <option value="opt1">Select State</option>
              <option value="opt2">Tamil Nadu</option>
              <option value="opt3">Kerala</option>
              <option value="opt4">New Delhi</option>
            </select>

          </div>
          <div class="form-group required">
            <label>City Name</label>
            <input type="text" class="form-control" placeholder="">
          </div>
          <div class="form-group">
            <label>Status <small>*</small></label>
            <div class="form-radio">
              <form>
                <div class="radio radio-inline">
                  <label>
                    <input type="radio" name="radio" checked="checked">
                    <i class="helper"></i>Active
                  </label>
                </div>
                <div class="radio radio-inline">
                  <label>
                    <input type="radio" name="radio">
                    <i class="helper"></i>Inactive
                  </label>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <button type="button" placement="top" ngbTooltip="Click to save city " class="btn pull-right btn-primary waves-effect m-b-10">Save</button>
    </div>
    <button (click)="closeMyModal($event)" aria-label="Close" class="md-close-btn"><i class="fa fa-close"></i></button>

  </app-modal-animation>
</div>

<div class="modal-size">
  <app-modal-animation [modalID]="'regionmodal'" [modalClass]="'md-effect-7'">
    <h3 class="f-26">Add Region</h3>
    <div class="form-header">
      <div class="row ">
        <div class="col-md-12">
          <div class="form-group required">
            <label>Region Name</label>
            <input type="text" class="form-control" placeholder="">
          </div>
          <div class="form-group">
            <label>Status <small>*</small></label>
            <div class="form-radio">
              <form>
                <div class="radio radio-inline">
                  <label>
                    <input type="radio" name="radio" checked="checked">
                    <i class="helper"></i>Active
                  </label>
                </div>
                <div class="radio radio-inline">
                  <label>
                    <input type="radio" name="radio">
                    <i class="helper"></i>Inactive
                  </label>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <button type="button" placement="top" ngbTooltip="Click to save region" class="btn pull-right btn-primary waves-effect m-b-10">Save</button>
    </div>
    <button (click)="closeMyModal($event)" aria-label="Close" class="md-close-btn"><i class="fa fa-close"></i></button>

  </app-modal-animation>
</div>
<div class="modal-size">
  <app-modal-animation [modalID]="'editregionmodal'" [modalClass]="'md-effect-7'">
    <h3 class="f-26">Edit Business Area</h3>
    <div class="form-header">
      <div class="row ">
        <div class="col-md-12">
          <div class="form-group required">
            <label>Region Name</label>
            <input type="text" class="form-control" placeholder="">
          </div>
          <div class="form-group">
            <label>Status <small>*</small></label>
            <div class="form-radio">
              <form>
                <div class="radio radio-inline">
                  <label>
                    <input type="radio" name="radio" checked="checked">
                    <i class="helper"></i>Active
                  </label>
                </div>
                <div class="radio radio-inline">
                  <label>
                    <input type="radio" name="radio">
                    <i class="helper"></i>Inactive
                  </label>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <button type="button" placement="top" ngbTooltip="Click to save region" class="btn pull-right btn-primary waves-effect m-b-10">Save</button>
    </div>
    <button (click)="closeMyModal($event)" aria-label="Close" class="md-close-btn"><i class="fa fa-close"></i></button>

  </app-modal-animation>
</div>