<div class="header-title">
    <div class="row">
        <div class="col-md-5 col-sm-4">
            <h2>Employees</h2>
            <p>Define your organisation's employee details</p>
        </div>
        <div class="col-md-5 col-sm-4">
            <div class="text-right m-t-5">
                <label>Search:
                    <input type="search" [(ngModel)]="filterQuery" class="form-control input-sm full-data-search"
                        placeholder="">
                </label>
            </div>
        </div>
        <div class="col-md-2 col-sm-4 text-right p-l-0 p-r-30">
            <button type="button" placement="top" ngbTooltip="Import" class="btn btn-primary import-btn waves-effect m-r-5"><i
                    class="fa fa-cloud-upload"></i></button>
            <button type="button" placement="top" ngbTooltip="Export" class="btn btn-primary export-btn waves-effect m-r-5"><i
                    class="fa fa-cloud-download"></i></button>
            <button type="button" placement="top" ngbTooltip="Click to add employee" class="btn btn-primary waves-effect waves-light d-inline-block md-trigger"
                routerLink="create">
                <i class="fa fa-plus-circle m-r-5"></i> New
            </button>
        </div>
    </div>
</div>

<div class="card table-header">
    <div class="card-body">
        <div class="table-content crm-table">
            <div class="project-table">
                <div class="dt-responsive">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered full-data-table" [mfData]="data | dataFilter : filterQuery"
                            #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                            <thead>
                                <tr>
                                    <th>
                                        <mfDefaultSorter by="employeename">Employee Name</mfDefaultSorter>
                                    </th>
                                    <th>
                                        <mfDefaultSorter by="employeecode">Employee Code</mfDefaultSorter>
                                    </th>
                                    <th>
                                        <mfDefaultSorter by="emailid">Email Id</mfDefaultSorter>
                                    </th>
                                    <th>
                                        <mfDefaultSorter by="mobileno">Mobile No</mfDefaultSorter>
                                    </th>
                                    <th>
                                        <mfDefaultSorter by="designation">Designation</mfDefaultSorter>
                                    </th>
                                    <th>
                                        <mfDefaultSorter by="lastupdatedby">Updated By</mfDefaultSorter>
                                    </th>
                                    <th class="text-center">Status</th>
                                    <th class="text-center">Action</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr *ngFor="let item of mf.data; let i = index;">
                                    <td>{{item.employeename}}</td>
                                    <td>{{item.employeecode}}</td>
                                    <td>{{item.emailid}}</td>
                                    <td>{{item.mobileno}}</td>
                                    <td>{{item.designation}}</td>
                                    <td>
                                        <span class="updatename">{{item.lastupdatedby}}</span>
                                        <span class="updatedate">{{item.lastupdateddt}}</span>
                                    </td>
                                    <td class="text-center">
                                        <ui-switch class="js-small" placement="top" ngbTooltip="Click to change the status"
                                            color="#03ADED" switchColor="#fff" size="small" checked></ui-switch>
                                    </td>
                                    <td class="action-icon text-center">
                                        <a href="javascript:;" class="m-r-15 crm-action-view text-info" placement="top"
                                            ngbTooltip="click to view the employee" (click)="openMyModalData(i);modalDefault.show();"><i
                                                class="fa fa-book"></i></a>
                                        <a href="javascript:;" placement="top" ngbTooltip="click to edit the employee"
                                            class="m-r-15 crm-action-edit text-primary"><i class="fa fa-pencil"></i></a>
                                        <a href="javascript:;" placement="bottom" ngbTooltip="click to delete the employee"
                                            class="crm-action-delete text-danger"><i class="fa fa-trash"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr class="page-nav">
                                    <td colspan="12">
                                        <mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Add Contact Start Model -->