<div class="header-title m-b-15">
  <div class="row">
    <div class="col-md-6 col-sm-6">
      <h2 class="add-tenant">User</h2>
    </div>
    <div class="col-md-6 col-sm-6 save-button text-right p-r-30">
      <button type="button" placement="bottom" ngbTooltip="Click to save employees" class="btn btn-primary waves-effect m-r-10 text-capitalize">Save</button>
      <button type="button" placement="bottom" ngbTooltip="Go back" routerLink="/masters/users" class="btn btn-inverse btn-primary waves-effect"><i
          class="fa fa-arrow-circle-left"></i></button>
    </div>
  </div>
</div>





<div class="col-md-12 col-sm-12">
  <div class="row">
    <div class="col-md-9 col-sm-8 p-l-0 p-r-10">
      <div class="user-form">

        <div class="card tenants-page tenants-pages m-b-10">
          <div class="row p-t-10 p-b-5">
            <div class="col-md-12 col-sm-12">
              <div class="form-group row required">
                <label class="col-md-3 col-sm-6 col-form-label text-right">Username</label>
                <div class="col-md-9 col-sm-6">
                  <input type="text" class="form-control" placeholder="Username">
                </div>
              </div>

              <div class="form-group row required">
                <label class="col-md-3 col-sm-6 col-form-label text-right">Role</label>
                <div class="col-md-9 col-sm-6">
                  <select name="select" class="form-control">
                    <option value="opt1">Select Role</option>
                    <option value="opt2">Admin</option>
                    <option value="opt2">Manager</option>
                  </select>
                </div>
              </div>
              <div class="form-group row required">
                <label class="col-md-3 col-sm-6 col-form-label text-right">Email ID</label>
                <div class="col-md-9 col-sm-6">
                  <input type="text" class="form-control" placeholder="Email ID">
                </div>
              </div>

              <div class="form-group row required">
                <label class="col-md-3 col-sm-6 col-form-label text-right">Mobile No</label>
                <div class="col-md-9 col-sm-6">
                  <input type="text" class="form-control" placeholder="Mobile No">
                </div>
              </div>

              <div class="form-group row required">
                <label class="col-md-3 col-sm-6 col-form-label text-right">Password</label>
                <div class="col-md-9 col-sm-6">
                  <input type="password" class="form-control" placeholder="Password">
                </div>
              </div>

              <div class="form-group row required">
                <label class="col-md-3 col-sm-6 col-form-label text-right">Status</label>
                <div class="col-md-9 col-sm-6">
                  <ui-switch class="js-small" color="#03ADED" switchColor="#fff" size="small" checked></ui-switch>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="header-title">
          <h2 class="m-b-10">User Settings</h2>
        </div>

        <div class="card tenants-page tenants-pages m-b-10">
          <div class="col-md-12 col-sm-12">
            <div class="row m-t-5">
              <div class="col-md-12 col-sm-12">
                <div class="form-group row required">
                  <label class="col-md-3 col-sm-6 col-form-label text-right">Mobile app access</label>
                  <div class="col-md-9 col-sm-6">
                    <ui-switch class="js-small" color="#03ADED" switchColor="#fff" size="small" checked></ui-switch>
                  </div>
                </div>
              </div>
              <!-- <div class="col-md-12 col-sm-12">
                <div class="form-group row required">
                  <label class="col-md-3 col-sm-6 col-form-label text-right">Edit Outlet</label>
                  <div class="col-md-9 col-sm-6">
                    <ui-switch class="js-small" color="#03ADED" switchColor="#fff" size="small" checked></ui-switch>
                  </div>
                </div>
              </div> -->
              <div class="col-md-12 col-sm-12">
                <div class="form-group row required">
                  <label class="col-md-3 col-sm-6 col-form-label text-right">Enable tracking</label>
                  <div class="col-md-9 col-sm-6">
                    <ui-switch class="js-small" color="#03ADED" switchColor="#fff" size="small" checked></ui-switch>
                  </div>
                </div>
              </div>
              <div class="col-md-12 col-sm-12">
                <div class="form-group row required">
                  <label class="col-md-3 col-sm-6 col-form-label text-right">Preferred language</label>
                  <div class="col-md-9 col-sm-6">
                    <select name="select" class="form-control">
                      <option value="opt1">Select language</option>
                      <option value="opt2">Tamil</option>
                      <option value="opt3">English</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-4">
      <div class="user-page pos-fixed">
        <div class="col-md-12 col-sm-12 text-center employee-profile">
          <div class="form-group">
            <label class="custom-file">
              <img src="assets/images/avatar-4.jpg" class="img-responsive" alt="user">
              <input type="file" class="custom-file-input">
              <span class="custom-file-control"></span>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>