<div class="header-title m-b-15">
  <div class="row">
    <div class="col-md-6 col-sm-6">
      <h2 class="add-tenant">Tenant</h2>
    </div>
    <div class="col-md-6 col-sm-6 text-right save-button p-r-30">
      <button type="button" placement="bottom" ngbTooltip="click to save tenants" class="btn btn-primary waves-effect m-r-10 text-capitalize">Save</button>
      <button type="button" placement="bottom" ngbTooltip="Go back" routerLink="/masters/tenants" class="btn btn-inverse btn-primary waves-effect"><i
          class="fa fa-arrow-circle-left"></i></button>
    </div>
  </div>
</div>

<div class="col-md-12 col-sm-12">
  <div class="row">
    <div class="col-md-9 col-sm-8 p-l-0 p-r-10">
      <div class="user-form">
        <div class="card tenants-page tenants-pages m-b-10">
          <div class="inner-page row p-t-5 p-b-5">
            <div class="col-md-12 col-sm-12">
              <div class="row">
                <div class="col-md-12 col-sm-12">
                  <div class="form-group row required">
                    <label class="col-md-3 col-sm-6 col-form-label text-right">Tenant Name</label>
                    <div class="col-md-9 col-sm-6">
                      <input type="text" class="form-control input-sm full-data-search" placeholder="Tenant Name">
                    </div>
                  </div>
                </div>

                <div class="col-md-12 col-sm-12">
                  <div class="form-group row required">
                    <label class="col-md-3 col-sm-6 col-form-label text-right">Email ID</label>
                    <div class="col-md-9 col-sm-6">
                      <input type="text" class="form-control input-sm full-data-search" placeholder="Email ID">
                    </div>
                  </div>
                </div>

                <div class="col-md-12 col-sm-12">
                  <div class="form-group row required">
                    <label class="col-md-3 col-sm-6 col-form-label text-right">Mobile No</label>
                    <div class="col-md-9 col-sm-6">
                      <input type="text" class="form-control input-sm full-data-search" placeholder="Mobile No">
                    </div>
                  </div>
                </div>

                <div class="col-md-12 col-sm-12">
                  <div class="form-group row required">
                    <label class="col-md-3 col-sm-6 col-form-label text-right">Phone No</label>
                    <div class="col-md-9 col-sm-6">
                      <input type="text" class="form-control input-sm full-data-search" placeholder="Phone No">
                    </div>
                  </div>
                </div>

                <div class="col-md-12 col-sm-12">
                  <div class="form-group row required">
                    <label class="col-md-3 col-sm-6 col-form-label text-right">Tax No</label>
                    <div class="col-md-9 col-sm-6">
                      <input type="text" class="form-control input-sm full-data-search" placeholder="Tax No">
                    </div>
                  </div>
                </div>

                <div class="col-md-12 col-sm-12">
                  <div class="form-group row required">
                    <label class="col-md-3 col-sm-6 col-form-label text-right">Industry</label>
                    <div class="col-md-9 col-sm-6">
                      <select name="select" class="form-control">
                        <option value="opt1">Select Industry</option>
                        <option value="opt2">FMCG Distribution</option>
                      </select>
                    </div>
                  </div>
                </div>

                <div class="col-md-12 col-sm-12">
                  <div class="form-group row required">
                    <label class="col-md-3 col-sm-6 col-form-label text-right">Country</label>
                    <div class="col-md-9 col-sm-6">
                      <select name="select" class="form-control">
                        <option value="opt1">Select Country</option>
                        <option value="opt2">India</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-md-12 col-sm-12">
                  <div class="form-group row required">
                    <label class="col-md-3 col-sm-6 col-form-label text-right">City</label>
                    <div class="col-md-9 col-sm-6">
                      <select name="select" class="form-control">
                        <option value="opt1">Select City</option>
                        <option value="opt2">Coimbatore</option>
                      </select>
                    </div>
                  </div>
                </div>

                <div class="col-md-12 col-sm-12">
                  <div class="form-group row required">
                    <label class="col-md-3 col-sm-6 col-form-label text-right">Address</label>
                    <div class="col-md-9 col-sm-6">
                      <textarea></textarea>
                    </div>
                  </div>
                </div>

                <div class="col-md-12 col-sm-12">
                  <div class="form-group row required">
                    <label class="col-md-3 col-sm-6 col-form-label text-right">Subscription Status</label>
                    <div class="col-md-9 col-sm-6">
                      <select name="select" class="form-control">
                        <option value="opt1">Select Subscription</option>
                        <option value="opt2">Paid</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-md-12 col-sm-12">
                  <div class="form-group row required">
                    <label class="col-md-3 col-sm-6 col-form-label text-right">Renewal Date</label>
                    <div class="col-md-9 col-sm-6">
                      <div class="input-group">
                        <input class="form-control" placeholder="dd-mm-yyyy" name="dp" [(ngModel)]="modelPopup"
                          ngbDatepicker #d="ngbDatepicker">
                        <div class="input-group-append bg-default" (click)="d.toggle()">
                          <span class="fa fa-calendar input-group-text"></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-12 col-sm-12">
                  <div class="form-group row required">
                    <label class="col-md-3 col-sm-6 col-form-label text-right">Status</label>
                    <div class="col-md-9 col-sm-6">
                      <ui-switch class="js-small" placement="top" ngbTooltip="Click to change the status" color="#03ADED"
                        switchColor="#fff" size="small" checked></ui-switch>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="header-title">
          <h2 class="m-b-10">Tenant Associations</h2>
        </div>

        <div class="card tenants-page tenants-pages association-table m-b-10">
          <div class="row m-t-5">
            <div class="col-md-12 col-sm-12">
              <div class="row">
                <div class="col-md-5 col-sm-5">
                  <div class="form-group row required">
                    <label class="col-md-12 col-sm-12 col-form-label text-left p-r-0">Tenant Type</label>
                  </div>
                </div>

                <div class="col-md-5 col-sm-5">
                  <div class="form-group row required">
                    <label class="col-md-4 col-sm-6 col-form-label">Tenant ID</label>
                  </div>
                </div>

                <div class="col-md-2 col-sm-2 plus-button">
                  <button type="button" placement="top" ngbTooltip="Click to Add" class="btn btn-primary m-r-5 btn-inverse btn-outline-inverse m-b-10"><i
                      class="fa fa-plus"></i></button>
                </div>
              </div>

              <div class="associations">
                <div class="row">
                  <div class="col-md-5 col-sm-5">
                    <div class="form-group row required">
                      <div class="col-md-12 col-sm-12 p-r-0">
                        <select name="select" class="form-control" style="width:100%;">
                          <option value="opt1">Select Tenant Type</option>
                          <option value="opt2">Merchant</option>
                          <option value="opt2">Distributor</option>
                        </select>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-5 col-sm-5 tenant-id">
                    <div class="form-group row required">
                      <div class="col-md-12 col-sm-6">
                        <input type="text" style="width:100% !important" class="form-control input-sm full-data-search" placeholder="">
                        <span>Kannankumar<span>(1234567890)</span></span>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-2 col-sm-2 plus-button">
                    <button type="button" placement="top" ngbTooltip="Click to Delete" class="btn btn-primary btn-danger btn-outline-danger m-b-10"><i
                        class="fa fa-trash"></i></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="header-title">
          <h2 class="m-b-10">Settings</h2>
        </div>
        <div class="card tenants-page tenants-pages m-b-10">
          <div class="col-md-12 col-sm-12">
            <div class="row">

              <div class="col-md-12 col-sm-12">
                <div class="form-group row required">
                  <label class="col-md-3 col-sm-6 col-form-label text-right">Industry Type</label>
                  <div class="col-md-9 col-sm-6">
                    <select name="select" class="form-control">
                      <option value="opt1">Select Industry Type</option>
                      <option value="opt2">FMCG Distribution</option>
                      <option value="opt3">Dairy Distribution</option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="col-md-12 col-sm-12">
                <div class="form-group row required">
                  <label class="col-md-3 col-sm-6 col-form-label text-right">Base currency</label>
                  <div class="col-md-9 col-sm-6">
                    <select name="select" class="form-control">
                      <option value="opt1">Select Base Currency</option>
                      <option value="opt2"></option>
                      <option value="opt3"></option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="col-md-12 col-sm-12">
                <div class="form-group row required">
                  <label class="col-md-3 col-sm-6 col-form-label text-right">Survey</label>
                  <div class="col-md-9 col-sm-6">
                    <ui-switch class="js-small" color="#03ADED" switchColor="#fff" size="small" checked></ui-switch>
                  </div>
                </div>
              </div>

              <div class="col-md-12 col-sm-12">
                <div class="form-group row required">
                  <label class="col-md-3 col-sm-6 col-form-label text-right">Edit Merchant</label>
                  <div class="col-md-9 col-sm-6">
                    <ui-switch class="js-small" color="#03ADED" switchColor="#fff" size="small" checked></ui-switch>
                  </div>
                </div>
              </div>

              <div class="col-md-12 col-sm-12">
                <div class="form-group row required">
                  <label class="col-md-3 col-sm-6 col-form-label text-right">Data Export</label>
                  <div class="col-md-9 col-sm-6">
                    <ui-switch class="js-small" color="#03ADED" switchColor="#fff" size="small" checked></ui-switch>
                  </div>
                </div>
              </div>

              <div class="col-md-12 col-sm-12">
                <div class="form-group row required">
                  <label class="col-md-3 col-sm-6 col-form-label text-right">Automated Reports</label>
                  <div class="col-md-9 col-sm-6">
                    <ui-switch class="js-small" color="#03ADED" switchColor="#fff" size="small" checked></ui-switch>
                  </div>
                </div>
              </div>

              <!-- <div class="col-md-12 col-sm-12">
                    <div class="form-group row required">
                      <label class="col-md-3 col-sm-6 col-form-label text-right">License Pricing</label>
                      <div class="col-md-9 col-sm-6">
                        <input type="text" class="form-control input-sm full-data-search" placeholder="License Pricing">
                      </div>
                    </div>
                  </div> -->

              <h3 class="basic">Product Settings</h3>

              <div class="col-md-12 col-sm-12">
                <div class="form-group row required">
                  <label class="col-md-3 col-sm-6 col-form-label text-right">Product Pricing</label>
                  <div class="col-md-9 col-sm-6">
                    <ui-switch class="js-small" color="#03ADED" switchColor="#fff" size="small" checked></ui-switch>
                  </div>
                </div>
              </div>

              <div class="col-md-12 col-sm-12">
                <div class="form-group row required">
                  <label class="col-md-3 col-sm-6 col-form-label text-right">Product Specifications</label>
                  <div class="col-md-9 col-sm-6">
                    <ui-switch class="js-small" color="#03ADED" switchColor="#fff" size="small" checked></ui-switch>
                  </div>
                </div>
              </div>

              <h3 class="basic">Order Settings</h3>
              <div class="col-md-12 col-sm-12">
                <div class="form-group row required">
                  <label class="col-md-3 col-sm-6 col-form-label text-right">Capture PO</label>
                  <div class="col-md-9 col-sm-6">
                    <ui-switch class="js-small" color="#03ADED" switchColor="#fff" size="small" checked></ui-switch>
                  </div>
                </div>
              </div>

              <div class="col-md-12 col-sm-12">
                <div class="form-group row required">
                  <label class="col-md-3 col-sm-6 col-form-label text-right">Edit Pricing</label>
                  <div class="col-md-9 col-sm-6">
                    <ui-switch class="js-small" color="#03ADED" switchColor="#fff" size="small" checked></ui-switch>
                  </div>
                </div>
              </div>

              <div class="col-md-12 col-sm-12">
                <div class="form-group row required">
                  <label class="col-md-3 col-sm-6 col-form-label text-right">Delivery Mode</label>
                  <div class="col-md-1 col-sm-2">
                    <ui-switch class="js-small" color="#03ADED" switchColor="#fff" size="small" checked></ui-switch>
                  </div>
                  <div class="col-md-8 col-sm-4">
                    <select name="select" class="form-control">
                      <option value="opt1">Mode of Delivery</option>
                      <option value="opt2">Standard</option>
                      <option value="opt3">Scheduled</option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="col-md-12 col-sm-12">
                <div class="form-group row required">
                  <label class="col-md-3 col-sm-6 col-form-label text-right">PKD Entry</label>
                  <div class="col-md-9 col-sm-6">
                    <ui-switch class="js-small" color="#03ADED" switchColor="#fff" size="small" checked></ui-switch>
                  </div>
                </div>
              </div>

              <div class="col-md-12 col-sm-12">
                <div class="form-group row required">
                  <label class="col-md-3 col-sm-6 col-form-label text-right">SMS Notifications</label>
                  <div class="col-md-9 col-sm-6">
                    <ui-switch class="js-small" color="#03ADED" switchColor="#fff" size="small" checked></ui-switch>
                  </div>
                </div>
              </div>

              <div class="col-md-12 col-sm-12">
                <div class="form-group row">
                  <label class="col-md-3 col-sm-6 col-form-label text-right">Payment Type</label>
                  <div class="col-md-1 col-sm-2">
                    <ui-switch class="js-small" color="#03ADED" switchColor="#fff" size="small" checked></ui-switch>
                  </div>
                  <div class="col-md-8 col-sm-4 payment-type">
                    <div class="form-radio">
                      <form>
                        <div class="radio radio-inline">
                          <label>
                            <input type="radio" name="radio" checked="checked">
                            <i class="helper"></i>Cash
                          </label>
                        </div>
                        <div class="radio radio-inline">
                          <label>
                            <input type="radio" name="radio">
                            <i class="helper"></i>Credit
                          </label>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>

        <div class="header-title">
          <h2 class="m-b-10">Subscription</h2>
        </div>
        <div class="card tenants-page tenants-pages m-b-10">
          <div class="row m-t-5 p-l-15">
            <div class="col-md-10 col-sm-10">
              <div class="form-group row required">
                <label class="col-md-4 col-sm-6 col-form-label">Subscription Amount</label>
                <div class="col-md-8 col-sm-6 p-l-0">
                  <input type="text" style="width:100% !important" class="form-control input-sm full-data-search"
                    placeholder="">
                </div>
              </div>
            </div>
            <div class="col-md-2 col-sm-2 plus-button p-l-0">
              <button type="button" placement="top" ngbTooltip="Click to pay" class="btn btn-primary waves-effect m-r-5 text-capitalize">Pay</button>
            </div>
          </div>

          <div class="card table-header">
            <div class="card-body">
              <div class="table-content crm-table">
                <div class="project-table">
                  <div class="dt-responsive">
                    <div class="table-responsive">
                      <table class="table table-striped table-bordered full-data-table">
                        <thead>
                          <tr>
                            <th>Reference</th>
                            <th class="text-right">Subscription Amount</th>
                            <th>Payment mode</th>
                            <th>Payment Date</th>
                            <th>Payment Status</th>
                          </tr>
                        </thead>

                        <tbody>
                          <tr>
                            <td>MOJO544657879</td>
                            <td class="text-right">₹100.00</td>
                            <td>Cash</td>
                            <td>03-Dec-2018 20:32</td>
                            <td>Failed</td>
                          </tr>

                        </tbody>
                        <tfoot>
                          <tr class="page-nav">
                            <td colspan="12">
                              <mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator>
                            </td>
                          </tr>
                        </tfoot>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-4">
      <div class="user-page pos-fixed">
        <div class="col-md-12 text-center company-logo">
          <div class="form-group">
            <label class="custom-file">
              <img src="assets/images/avatar-4.jpg" class="img-responsive" alt="Tenant">
              <input type="file" class="custom-file-input">
              <span class="custom-file-control m-t-15"></span>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>