<div class="header-title m-b-15">
  <div class="row">
    <div class="col-md-6 col-sm-6">
      <h2 class="add-tenant">Employee</h2>
    </div>
    <div class="col-md-6 col-sm-6 save-button text-right p-r-30">
      <button type="button" placement="bottom" ngbTooltip="click to save employees" class="btn btn-primary waves-effect m-r-10 text-capitalize">Save</button>
      <button type="button" placement="bottom" ngbTooltip="Go back" routerLink="/masters/employees" class="btn btn-inverse btn-primary waves-effect"><i
          class="fa fa-arrow-circle-left"></i></button>
    </div>
  </div>
</div>


<div class="col-md-12 col-sm-12">
  <div class="row">

    <div class="col-md-9 col-sm-8 p-l-0 p-r-10">
      <div class="employee-form">

        <div class="card tenants-page tenants-pages m-b-10">
          <div class="col-md-12 col-sm-12 p-t-10">
            <div class="form-group row required">
              <label class="col-md-3 col-sm-6 col-form-label text-right">Employee Name</label>
              <div class="col-md-9 col-sm-6">
                <input type="text" class="form-control" placeholder="Employee Name">
              </div>
            </div>

            <div class="form-group row required">
              <label class="col-md-3 col-sm-6 col-form-label text-right">Employee Code</label>
              <div class="col-md-9 col-sm-6">
                <input type="text" class="form-control" placeholder="Employee Code">
              </div>
            </div>

            <div class="form-group row required">
              <label class="col-md-3 col-sm-6 col-form-label text-right">Gender</label>
              <div class="col-md-9 col-sm-6">
                <select name="select" class="form-control">
                  <option value="opt1">Select Gender</option>
                  <option value="opt2">Male</option>
                  <option value="opt2">Female</option>
                  <option value="opt2">Other</option>
                </select>
              </div>
            </div>
            <div class="form-group row required">
              <label class="col-md-3 col-sm-6 col-form-label text-right">DOB</label>
              <div class="col-md-9 col-sm-6">
                <div class="input-group">
                  <input class="form-control" placeholder="dd-mm-yyyy" name="dp" [(ngModel)]="modelPopup" ngbDatepicker
                    #dp="ngbDatepicker">
                  <div class="input-group-append bg-default" (click)="dp.toggle()">
                    <span class="fa fa-calendar input-group-text"></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group row required">
              <label class="col-md-3 col-sm-6 col-form-label text-right">Email ID</label>
              <div class="col-md-9 col-sm-6">
                <input type="text" class="form-control" placeholder="Email ID">
              </div>
            </div>

            <div class="form-group row required">
              <label class="col-md-3 col-sm-6 col-form-label text-right">Mobile No</label>
              <div class="col-md-9 col-sm-6">
                <input type="text" class="form-control" placeholder="Mobile No">
              </div>
            </div>

            <div class="form-group row required">
              <label class="col-md-3 col-sm-6 col-form-label text-right">Reporting Manager</label>
              <div class="col-md-9 col-sm-6">
                <select name="select" class="form-control">
                  <option value="opt1">Select Department</option>
                  <option value="opt2">Sales</option>
                  <option value="opt2">Finance</option>
                </select>
              </div>
            </div>

            <div class="form-group row required">
              <label class="col-md-3 col-sm-6 col-form-label text-right">Designation</label>
              <div class="col-md-9 col-sm-6">
                <select name="select" class="form-control">
                  <option value="opt1">Select Designation</option>
                  <option value="opt2">Admin</option>
                </select>
              </div>
            </div>

            <div class="form-group row required">
              <label class="col-md-3 col-sm-6 col-form-label text-right">Date of Joining</label>
              <div class="col-md-9 col-sm-6">
                <div class="input-group">
                  <input class="form-control" placeholder="dd-mm-yyyy" name="dp" [(ngModel)]="modelPopup" ngbDatepicker
                    #d="ngbDatepicker">
                  <div class="input-group-append bg-default" (click)="d.toggle()">
                    <span class="fa fa-calendar input-group-text"></span>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group row required">
              <label class="col-md-3 col-sm-6 col-form-label text-right">Status</label>
              <div class="col-md-9 col-sm-6">
                <ui-switch class="js-small" placement="top" ngbTooltip="Click to change the status" color="#03ADED"
                  switchColor="#fff" size="small" checked></ui-switch>
              </div>
            </div>

          </div>
        </div>

        <div class="header-title">
          <h2 class="m-b-10">Employee Settings</h2>
        </div>

        <div class="card tenants-page tenants-pages m-b-10">
          <div class="col-md-12 col-sm-12">
            <div class="row m-t-5">
              <div class="col-md-12 col-sm-12">
                <div class="form-group row required">
                  <label class="col-md-3 col-sm-6 col-form-label text-right">Store assignation</label>
                  <div class="col-md-9 col-sm-6">
                    <ui-switch class="js-small" color="#03ADED" switchColor="#fff" size="small" checked></ui-switch>
                  </div>
                </div>
              </div>
              <div class="col-md-12 col-sm-12">
                <div class="form-group row required">
                  <label class="col-md-3 col-sm-6 col-form-label text-right">Products assignation</label>
                  <div class="col-md-9 col-sm-6">
                    <ui-switch class="js-small" color="#03ADED" switchColor="#fff" size="small" checked></ui-switch>
                  </div>
                </div>
              </div>
              <div class="col-md-12 col-sm-12">
                <div class="form-group row required">
                  <label class="col-md-3 col-sm-6 col-form-label text-right">Greeting Messages</label>
                  <div class="col-md-9 col-sm-6">
                    <ui-switch class="js-small" color="#03ADED" switchColor="#fff" size="small" checked></ui-switch>
                  </div>
                </div>
              </div>
              <div class="col-md-12 col-sm-12">
                <div class="form-group row required">
                  <label class="col-md-3 col-sm-6 col-form-label text-right">Travel Allowance</label>
                  <div class="col-md-9 col-sm-6">
                    <input type="text" class="form-control input-sm full-data-search" placeholder="Travel Allowance">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-4">
      <div class="employee-page pos-fixed">
        <div class="col-md-12 col-sm-12 text-center employee-profile">
          <div class="form-group">
            <label class="custom-file">
              <img src="assets/images/employee.jpg" class="img-responsive" alt="employee">
              <input type="file" class="custom-file-input">
              <span class="custom-file-control"></span>
            </label>
          </div>
        </div>
      </div>

    </div>
  </div>

     