<div class="page-body">
  <div class="row">
    <!-- order-card start -->
    <div class="col-md-6 col-xl-3">
      <div class="card bg-c-blue order-card">
        <div class="card-block">
          <h6 class="m-b-20">Orders Count</h6>
          <h2 class="text-right"><i class="ti-shopping-cart f-left"></i><span>486</span></h2>
          <p class="m-b-0">Today's Orders<span class="f-right">351</span></p>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xl-3">
      <div class="card bg-c-green order-card">
        <div class="card-block">
          <h6 class="m-b-20">Total Sales</h6>
          <h2 class="text-right"><i class="ti-bar-chart f-left"></i><span>1641</span></h2>
          <p class="m-b-0">Today's Sales<span class="f-right">213</span></p>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xl-3">
      <div class="card bg-c-yellow order-card">
        <div class="card-block">
          <h6 class="m-b-20">Total Stores</h6>
          <h2 class="text-right"><i class="ti-bag f-left"></i><span>422</span></h2>
          <p class="m-b-0">New Stores<span class="f-right">50</span></p>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xl-3">
      <div class="card bg-c-pink order-card">
        <div class="card-block">
          <h6 class="m-b-20">Total Invoice</h6>
          <h2 class="text-right"><i class="ti-receipt f-left"></i><span>92</span></h2>
          <p class="m-b-0">Today Invoice<span class="f-right">52</span></p>
        </div>
      </div>
    </div>
    <!-- order-card end -->

    <!-- statustic and process start -->
    <div class="col-lg-6 col-md-6">
      <app-card [title]="'Statistics'" [cardOptionBlock]="true" [classHeader]="true">
        <div #statisticsChart>
          <div id="statistics_chart" style="height: 320px"></div>
        </div>
      </app-card>
    </div>
    <div class="col-lg-6 col-md-6 p-l-0 p-r-0">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h5>Statistics</h5>
          </div>
          <div class="card-block">
            <div id="visitor-list-graph" style="height: 325px"></div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>