
// $font-stack: 'Montserrat', sans-serif;
// $primary-color: #231f20;  // title heading color and list table color //
// $primaryTextColor: #20aee3; // table list heading color //
// $border-color: #d3d5d8; // box border color //
// $button-border-color: #20aee3; // all buttons border color, close icon and sidebar title bottom color //
// $background:#20aee3;

// header section //
p{
    font-family: 'Open Sans',sans-serif;
    font-weight: 300;  
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Nunito',sans-serif;
    font-weight: 300;
}
.m-t_5{
    margin-top:-5px !important;
}
.m-t-0{
    margin-top:0 !important;
}
.m-b-2{
    margin-bottom: 2px !important;
}
.m-b-5{
    margin-bottom:5px !important;
}
.m-b-10{
    margin-bottom:10px !important;
}
.m-b-15{
    margin-bottom:15px !important;
}
.m-t-5{
    margin-top:5px !important;
}
.m-r-30{
    margin-right:30px !important;
}
.img-responsive{
    max-width:100%;
    display: inline-block;
    height: auto;
}
textarea {
    overflow: auto;
    resize: none;
    width: 90%;
    max-width: 100%;
    height: 72px;
    font-size: 13px;
    line-height: 18px;
    color: #2b2f33;
    border: 1px solid #dfe8f1;
    -webkit-box-shadow: inset 1px 1px 3px #f6f6f6;
    -moz-box-shadow: inset 1px 1px 3px #f6f6f6;
    box-shadow: inset 1px 1px 3px #f6f6f6;
}
.img-fluid {
    max-width: 100%;
    height: 50px;
}

.pcoded{
    .pcoded-header{
        background: linear-gradient(to right, #3b4650, #647688);
    } 
}
.common-img-bg{
    background-size: cover;
    background-image: url(assets/images/bg.jpg);
    background-repeat: no-repeat;
}
.logo-text{
    img{
        margin-top: 16%;
    }
    h1{
        font-size: 38px;
        color: #fff;
        margin-top: 35px;
    }
}
.pcoded-main-container{
    // background: #F6F9FA;
    background: rgba(202, 202, 202, 0.1);
}

.main-body{
    .page-wrapper {
        padding: 15px 25px;
        transition: all ease-in 0.3s;
    }
}
.header-title{
    display: inline-block;
    width: 100%;
    h2{
        font-size: 20px;
        text-transform: capitalize;
        padding: 0;
        font-weight: 500;
        margin: 0 15px;
        color: #03ADED;
        display: inline-block;
        font-family: 'Montserrat', sans-serif;
    }
    p{
        font-size: 13px;
        color: #414C59;
        text-transform: capitalize;
        margin-left: 16px;
    }
    .btn{
        font-size: 14px;
        padding: 5px 8px;
        border-radius: .25rem;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 0.5px;
        margin-top: 5px;
        i{
            margin-right: 0;
        }
    }
    input{
        background-image: -webkit-gradient(linear, left top, left bottom, from(#20aee3), to(#20aee3)), -webkit-gradient(linear, left top, left bottom, from(#b1b8bb), to(#b1b8bb));
        background-image: -webkit-linear-gradient(#20aee3, #20aee3), -webkit-linear-gradient(#b1b8bb, #b1b8bb);
        background-image: -o-linear-gradient(#20aee3, #20aee3), -o-linear-gradient(#b1b8bb, #b1b8bb);
        background-image: linear-gradient(#20aee3, #20aee3), linear-gradient(#b1b8bb, #b1b8bb);
        background-size: 0 2px, 100% 1px;
        background-repeat: no-repeat;
        background-position: center bottom, center calc(100% - 1px);
        background-color: transparent;
        -webkit-transition: background 0s ease-out;
        -o-transition: background 0s ease-out;
        transition: background 0s ease-out;
        float: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        border-radius: 0;
        margin-left: 0px;
        border:0;
        &:focus{
            outline: none;
            background-image: -webkit-gradient(linear, left top, left bottom, from(#20aee3), to(#20aee3)), -webkit-gradient(linear, left top, left bottom, from(#b1b8bb), to(#b1b8bb));
            background-image: -webkit-linear-gradient(#20aee3, #20aee3), -webkit-linear-gradient(#b1b8bb, #b1b8bb);
            background-image: -o-linear-gradient(#20aee3, #20aee3), -o-linear-gradient(#b1b8bb, #b1b8bb);
            background-image: linear-gradient(#20aee3, #20aee3), linear-gradient(#b1b8bb, #b1b8bb);
            background-size: 100% 2px, 100% 1px;
            -webkit-box-shadow: none;
            box-shadow: none;
            -webkit-transition-duration: 0.3s;
            -o-transition-duration: 0.3s;
            transition-duration: 0.3s;
        }
    }
    .form-control{
        &:focus{
            border-color: transparent;
            box-shadow: none;
        }
    }
    select.form-control{
        background: transparent;
        border-bottom: 1px solid #b1b8bb;
        padding: 0.275rem 0.50rem !important;
        border-top: 0;
        border-left: 0;
        border-right: 0;

        &:focus{
            background: transparent;
            border-bottom: 1px solid #b1b8bb;
            padding: 0.275rem 0.50rem !important;
            border-top: 0;
            border-left: 0;
            border-right: 0;
        }
    }
    .add-tenant{
        margin-top: 5px;
        vertical-align: -webkit-baseline-middle;
        display: inline-block;
    }
    .fa-calendar{
        border-right: 0;
        background: #fff;
        color:#448aff;
        border-left: 0;
        border-top: 0;
        border-bottom: 1px solid #b1b8bb;
        border-radius: 0;
        height: 29px;
    }
    .header-search{
        &:focus{
            border:0;
        }
    }
}

.table-header{
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    box-shadow: none;
    margin-bottom: 0;

    .card-body {
        padding: 0.25rem 0.85rem;
    }
    &:hover{
        box-shadow: none;
    }
}

.table-header{
    .table{
        tr{
            border: 1px solid #d3d5d8;
            border-top: 0;
            border-right: 0;
            border-left: 0 !important;
            th{
                border: 0px solid #d3d5d8;
                color: #4b5056;
                padding: 10px 10px;
                font-family: 'Montserrat', sans-serif;
                font-weight: 600;
                font-size: 13px;
                &:first-child{
                    padding-left: 5px;
                }    
            }
        }
        td{
            border: 0px solid #d3d5d8;
            font-size: 13px;
            color: #67757c;
            padding: 3px 10px;
            font-family: 'Montserrat', sans-serif;
            font-weight: 500;
            vertical-align: middle;
            &:first-child{
                padding-left: 5px;
            }    
        }
        tbody{
            tr:nth-of-type(odd) {
                background: #f9fafe;
            }
        }
    }
    .page-nav{
        border-bottom: 0 none !important;
        td{
            padding: 2px 0;
            .pagination-main {
                display: inline-block;
                margin-top: 5px;
            }
        }
    }
}

.pcoded{
    .pcoded-navbar{
        .pcoded-item{
            li{
                a{
                    font-size: 13px;
                }
            }
        }
    }
}

// modal scss //

.form-header{
    .form-group{
        margin-bottom: 10px;
        label{
            width:100%;
            margin-bottom: 3px;
            color: #231f20;
            font-weight: 600;
            font-family: 'Montserrat', sans-serif;
            font-size: 14px;
        }
    }
    .form-radio {
        position: relative;
        margin-top: 4px;
        margin-bottom: 15px;
    }
}
.img-circle{
    width: 40px;
    height: 40px;
}
.updatename{
    display: inherit;
}
.updatedate{
    color: #bcc3d3;
    font-size: 12px;
}

.required{
   label{
    &:after {
        content: "*";
        color: #ff5370;
        margin-left: 2px;
        font-size: 12px;
    }
   }
}

 .required1{
     small{
        color: #ff5370;
        margin-left: 2px;
        font-size: 12px;
     }
 }

.company-logo{
    top: 22.5%;
    .custom-file{
        font-weight: normal;
        height: auto;
        cursor: pointer;
    }
    .custom-file-input{
        height: calc(3.5rem + 2px);
        cursor: pointer;
    }
}

.role-input{
    label{
        display: inline;
    }
    input{
        width:90% !important;
    }
}
.addrole-table{
    tbody{
        td{
            padding: 10px 10px !important;
        }
    }
}
.js-small{
    vertical-align: -webkit-baseline-middle;
    display: inline-flex;
}
.import-btn{
    background: #e8a820;
    border-color: #e8a820;
    &:hover{
        background: #e8a820;
        border-color: #e8a820;
    }
}
.export-btn{
    background: #8bb410;
    border-color: #8bb410;
    &:hover{
        background: #8bb410;
        border-color: #8bb410;
    }
}

// tenants //
.tenants-page{
    background: #fff;
    .form-group{
        margin-bottom: 9px;
       .form-control{
             padding: 0.275rem 0.75rem;
             width:90%;
             max-width:100%;
       }
       input{
           width:90% !important;
           max-width:100%;
       }
    }
    .input-group{
        width:90%; 
        margin-bottom: 0;
    }
    label{
        font-weight: bold;
    }
    .dropdown-menu.show {
        top: -220px !important;
    }
}
select.form-control:not([size]):not([multiple]){
    height: auto !important;
}
.tenants-pages{
    padding: 10px 15px;
    .basic{
        color: #03ADED;
        font-weight: 600;
        font-size: 14px;
        text-transform: uppercase;
        border-bottom-width: 1px;
        border-bottom-style: dashed;
        border-color: #03ADED;
    }
    .form-group {
        .form-control{
            font-size: 13px;
            display: block;
            float: none;
            background: #fff;
            padding: 6px 12px;
            color: #2b2f33;
            border: 1px solid #dfe8f1;
            -webkit-box-shadow: inset 1px 1px 3px #f6f6f6;
            -moz-box-shadow: inset 1px 1px 3px #f6f6f6;
            box-shadow: inset 1px 1px 3px #f6f6f6;
        }
        input{
            margin-left: 0;
        }
        label {
            font-weight: bold;
            color: #3e4855;
        }
    }
    .payment-type{
        .radio-inline{
            margin-top:5px;
        }
    }
}
.plus-button{
    .btn-inverse{
         padding: 5px 12px;
         border: 1px solid #dfe8f1;
        i{
            margin-right:0;
        }
    }
    .btn-danger{
        padding: 5px 12px;
       i{
           margin-right:0;
       }
   }
   .btn-primary{
    padding: 5px 12px;
    margin-top: -1px;
   i{
       margin-right:0;
   }
}
}
button{
    &:focus{
        outline: none;
    }
}
.tenant-id{
    input{
        margin-bottom: 10px;
    }
}
.association-table{
    .form-group{
        margin-bottom: 0;
    }
}
// tenants //

// employee //

.employee-header{
    overflow: auto;
    height: 78vh;
}

// .employee-form{
//      height: 74vh;
//      display: inline-block;
//      overflow: auto;
// }
// .user-form{
//     height: 78vh;
//     display: inline-block;
//     overflow: auto;
// }
.employee-profile{
    top: 23%;
    .custom-file{
        font-weight: normal;
        height: auto;
        cursor: pointer;
    }
    .custom-file-input{
        height: calc(3.5rem + 2px);
        cursor: pointer;
    }
}
.employee-page{
    width: 255px;
    max-width: 100%;
    display: inline-block;
    height: 74vh;
}
.user-page{
    width: 255px;
    max-width: 100%;
    display: inline-block;
    height: 78vh;
}
// employee //
.modal-size{
    .md-modal{
         max-width:500px;
    }
}

.save-button{
    position: fixed;
    right: 10px;
    z-index: 10;
    .btn{
        margin-top:0;
    }
}
.associations{
    display: inline-block;
    width: 100%;
}

 // product setup //
.product-setup{
    .card{
        .card-block{
            padding: 0;
            .color-accordion{
                .card{
                    border-top: 0;
                }
            }
        }
    }
   .card-body {
        padding: 5px 13px;
        padding-top: 10px !important;
    }
    .card-header {
        padding: 0 !important;
        a{
            font-size: 16px;
            font-weight: bold !important;
            text-transform: uppercase;
            letter-spacing: 0.5px;
            display: inline-block;
            padding: 10px 17px !important;
            width: 100%;
        }
    }
    #uom{
        .table-responsive{
            table{
                width:96%;
                margin-bottom: 0;
            }
        }
    }
    #brand{
        .table-responsive{
            table{
                width:96%;
                margin-bottom: 0;
            }
        }
    }
    #category{
        .table-responsive{
            table{
                width:97%;
                margin-bottom: 0;
            }
        }
    }
    .add-button{
       .btn-primary{
            width: 30px;
            height: 30px;
            line-height: 25px;
            font-size: 12px;
            margin-top: 5px;
            i{
                margin-right: 0;
            }
       }
    }
    .form-group{
        small{
            color: #ff5370;
            font-size: 12px;
            font-weight: bold;
        }
    }
    .table-header{
        .table-responsive{
            table{
                margin-bottom: 0;
            }
        }
    }
}
.form-group{
    small{
        color: #ff5370;
        font-size: 12px;
        font-weight: bold;
    }
}

// product setup //

// location //
.region-section{
    span{
        display: inline !important;
        font-size: 16px !important;
    }
    .crm-action-edit{
        i{
            color: #2f3d4a;
            &:hover{
                color: #fff;
            }
        }
    }
    ::placeholder{
        color:#fff;
    }
     input:focus::placeholder{
           color:#97A1A7 ;
    }
}