<app-modal-animation [modalID]="'effect-7'" [modalClass]="'md-effect-7'">
  <h3 class="f-26">Sequence Settings</h3>
  <div class="form-header">

    <div class="form-group required1">
      <label>Auto Generate <small> * </small></label>
      <div class="form-radio">
        <form>
          <div class="radio radio-inline">
            <label>
              <input type="radio" name="radio" checked="checked">
              <i class="helper"></i>Yes
            </label>
          </div>
          <div class="radio radio-inline">
            <label>
              <input type="radio" name="radio">
              <i class="helper"></i>No
            </label>
          </div>
        </form>
      </div>
    </div>

    <div class="form-group required">
      <label>Current Sequence Number</label>
      <input type="text" class="form-control" placeholder="">
    </div>

    <div class="form-group required">
      <label>Prefix Key</label>
      <input type="text" class="form-control" placeholder="">
    </div>

    <div class="form-group required">
      <label>Prefix Concatenate</label>
      <input type="text" class="form-control" placeholder="">
    </div>

    <div class="form-group required">
      <label>Suffix Key</label>
      <input type="text" class="form-control" placeholder="">
    </div>

    <div class="form-group required">
      <label>Suffix Concatenate</label>
      <input type="text" class="form-control" placeholder="">
    </div>

    <button type="button" placement="top" ngbTooltip="click to update sequence " class="btn pull-right btn-primary waves-effect m-b-10">Update</button>
  </div>
  <button (click)="closeMyModal($event)" aria-label="Close" class="md-close-btn"><i class="fa fa-close"></i></button>
</app-modal-animation>