<div class="header-title">
  <div class="row">
    <div class="col-md-6 col-sm-6">
      <h2>Industry</h2>
      <p>Define Your Organization's Industry Details</p>
    </div>
    <div class="col-md-5 col-sm-6">
      <div class="text-right m-t-5 p-r-10">
        <label>Search:
          <input type="search" [(ngModel)]="filterQuery" class="form-control input-sm full-data-search" placeholder="">
        </label>
      </div>
    </div>
    <div class="col-md-1 col-sm-6 p-r-30">
      <button type="button" placement="top" ngbTooltip="Click to add industry" class="btn pull-left btn-primary waves-effect waves-light f-right d-inline-block md-trigger"
        (click)="openMyModal('effect-7')">
        <i class="fa fa-plus-circle m-r-5"></i> New
      </button>
    </div>
  </div>
</div>
<div class="card table-header">
  <div class="card-body">
    <div class="table-content crm-table">
      <div class="project-table">
        <div class="dt-responsive">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">

            </div>
          </div>
          <div class="table-responsive">
            <table class="table table-striped table-bordered full-data-table" [mfData]="data| dataFilter : filterQuery"
              #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
              <thead>
                <tr>
                  <th>
                    <mfDefaultSorter by="industryname">Industry Name</mfDefaultSorter>
                  </th>
                  <th>
                    <mfDefaultSorter by="updatedby">Updated By</mfDefaultSorter>
                  </th>
                  <th class="text-center">Status</th>
                  <th class="text-center">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of mf.data;let i = index;">
                  <td>{{item.industryname}}</td>
                  <td>
                    <span class="updatename">{{item.lastupdatedby}}</span>
                    <span class="updatedate">{{item.lastupdateddt}}</span>
                  </td>
                  <td class="text-center">
                    <ui-switch class="js-small" placement="top" ngbTooltip="Click to change the status" color="#03ADED"
                      switchColor="#fff" size="small" checked></ui-switch>
                  </td>
                  <td class="action-icon text-center">
                    <a href="javascript:;" placement="top" ngbTooltip="Click to edit the industry" class="m-r-15 crm-action-edit text-primary"><i
                        class="fa fa-pencil"></i></a>
                    <a href="javascript:;" placement="bottom" ngbTooltip="Click to delete the industry" class="crm-action-delete text-danger"><i
                        class="fa fa-trash"></i></a>
                  </td>
                </tr>
              </tbody>
              <tfoot>
                <tr class="page-nav">
                  <td colspan="12">
                    <mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator>
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-add-edit-industry></app-add-edit-industry>